<%- include('../layout/header') %>
    <div class="container border-b-2 h-16">
        <div class="my-4 ml-4">
            <a href="/transaksi" class="p-2 bg-red-400 text-white rounded-sm mr-2"><i
                    class="fi fi-rr-angle-double-small-left text-xs"></i>
                kembali</a>
        </div>
    </div>
    <div class="w-2/3 mx-auto mb-40 mt-4">
        <h2 class="text-center text-xl font-bold">Data Produk</h2>
        <% data.forEach(items=>{%>
            <form action="/update_transaksi/<%=items.kode%>" method="post" class="m-auto mt-2 relative">
                <div class="m-auto flex-wrap flex border-l-4 border-red-400 rounded-sm p-4 mt-4">
                    <div class="form-group mx-2">
                        <p>tanggal</p>
                        <input type="date" name="tanggal" value="<%= items.tanggal %>"
                            class="input-bordered h-8 pl-2 bg-slate-200">
                    </div>
                    <div class="form-group mx-2">
                        <p>Kode pelanggan</p>
                        <input type="text" name="kd_pelanggan" value="<%= items.kd_pelanggan %>"
                            class="input-bordered h-8 pl-2 bg-slate-200">
                    </div>
                    <div class="form-group mx-2">
                        <p>Kode barang</p>
                        <input type="text" name="kd_barang" value="<%= items.kd_barang %>"
                            class="input-bordered h-8 pl-2 bg-slate-200 mb-2">
                    </div>
                    <div class="form-group mx-2">
                        <p>Jumlah barang</p>
                        <input type="text" name="jumlah_barang" value="<%= items.jumlah_barang %>"
                            class="input-bordered h-8 pl-2 bg-slate-200">
                    </div>
                    <div class="form-group mx-2">
                        <p>Total</p>
                        <input type="text" name="total" value="<%= items.total %>"
                            class="input-bordered h-8 pl-2 bg-slate-200">
                    </div>
                    <div class="form-group mx-2">
                        <p>id mekanik</p>
                        <input type="text" name="id_mekanik" value="<%= items.id_mekanik %>"
                            class="input-bordered h-8 pl-2 bg-slate-200">
                    </div>
                    <div class="form-group mx-2">
                        <p>Status transaksi</p>
                        <input type="text" name="status_transaksi" value="<%= items.status_transaksi %>"
                            class="input-bordered h-8 pl-2 bg-slate-200">
                    </div>
                </div>
                <input type="submit" name="submit" class="p-2 bg-blue-400 text-white rounded-sm absolute right-0
                    mt-2">
            </form>
            <%}) %>
    </div>
    <%- include('../layout/footer') %>